{% extends 'base.html' %}
{% block main %}
    <form method="POST">
        {% csrf_token %}
        <table class="table table-borderless">
            {% for field in form %}
                <tr>
                    <th scope="row">{{ field.label }}:</th>
                    <td>{{ field }}</td>
                    {% if field.errors|length %}
                        <td>
                            {% for error in field.errors %}
                                {% autoescape off %}
                                    {{ error }}
                                {% endautoescape %}
                            {% endfor %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Valider</button>
    </form>
{% endblock %}
